<div class="queemchi-astro-home" data-qm-astro-home><nav class="wrappernav">
    <div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
      <div class="w-layout-grid navgrid">
        <nav role="navigation" id="w-node-c5446576-037a-3c55-f8c6-24ef5dad1fda-5dad1fd4" class="nav-menu w-nav-menu">
          <div class="inner-nav-wrapper">
            <a href="#benefits" class="menu-item w-inline-block">
              <div>Beneficios</div>
            </a>
            <a href="#modules" class="menu-item w-inline-block">
              <div>Nuestro Producto</div>
            </a>
            <a href="#pricing" class="menu-item w-inline-block">
              <div>Presentaciones</div>
            </a>
            <a href="#faq" class="menu-item w-inline-block">
              <div>Preguntas Frecuentes</div>
            </a>
            <a href="#" class="menu-item w-inline-block">
              <div>Haz tu Pedido</div>
            </a>
          </div>
        </nav>
        <div id="w-node-c5446576-037a-3c55-f8c6-24ef5dad203f-5dad1fd4" class="menu-button w-nav-button">
          <div class="menu-mobile">
            <div class="sticky-nav"></div>
            <div class="sticky-nav"></div>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div class="section">
    <div class="spinner-hero">
      <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6cc-4901b859" class="container-wrapper">
        <div class="container w-container">
          <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6ce-4901b859" class="hero-header-wrapper">
            <div data-w-id="59b3f4c8-5558-14cb-c479-552a1133e53f" style="opacity:0" class="tag-wrapper">
              <div class="bullet-icon"></div>
              <div>Sabor coreano</div>
            </div>
            <div id="w-node-_9088d9f4-31b2-928a-df1a-d155e7082c16-4901b859" class="center-wrapper no-gap">
              <div data-w-id="9088d9f4-31b2-928a-df1a-d155e7082c17" style="opacity:0" class="overflow">
                <h1 class="uppercase-medium">Queemchi</h1>
              </div>
              <div data-w-id="5231ed21-3094-a791-5363-62bf805eb60e" style="opacity:0" class="overflow">
                <p class="uppercase-medium">Kimchi vivo, hecho cerca de ti</p>
              </div>
            </div>
            <p data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d1" style="opacity:0" class="paragraph-small max-width-50">Kimchi artesanal, fermentado naturalmente, con ingredientes frescos y mucho sabor. Una forma fácil de sumar probióticos, picante y carácter a tus comidas de todos los días.</p>
          </div>
        </div>
      </div>
      <div data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d5" style="opacity:0" class="spinner-hero-wrap">
        <div id="w-node-_58f8ed35-58b0-73ac-f80a-2d264c23c6d6-4901b859" class="device-hero-wrapper center">
          <div class="spinner-wrapper">
            <div data-w-id="58f8ed35-58b0-73ac-f80a-2d264c23c6d8" class="spinner-container">
              <div class="spinner-column _45-rev">
                <div class="spinner-card"><img src="{{ 'wheel1.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="{{ 'wheel8.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
              </div>
              <div class="spinner-column _45">
                <div class="spinner-card"><img src="{{ 'wheel7.png' | asset_url }}" loading="lazy" sizes="(max-width: 1800px) 100vw, 1800px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="{{ 'wheel4.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
              </div>
              <div class="spinner-column _90">
                <div class="spinner-card"><img src="{{ 'wheel5.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
                <div class="spinner-card"><img src="{{ 'wheel6.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image rev"/></div>
              </div>
              <div class="spinner-column">
                <div class="spinner-card"><img src="{{ 'wheel3.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
                <div class="spinner-card f"><img src="{{ 'wheel2.png' | asset_url }}" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="cover-image"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spinner-gradient"></div>
    </div>
  </div>
  <section class="divider"></section>
  <div class="section">
    <div data-w-id="f38d75df-e8a7-edd1-551b-ed48d394081d" class="track">
      <div class="inner-track">
        <div data-w-id="f38d75df-e8a7-edd1-551b-ed48d394081f" class="header-c-wrapper absolute">
          <div class="c-flip-wrap _01">
            <div class="c-flip-front"><img src="{{ 'm1.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="{{ 'm4.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _02">
            <div class="c-flip-front"><img src="{{ 'm5.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="{{ 'm2.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _03">
            <div class="c-flip-front"><img src="{{ 'm7.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="{{ 'm3.png' | asset_url }}" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="cover-image"/></div>
          </div>
          <div class="c-flip-wrap _04">
            <div class="c-flip-front"><img src="{{ 'm8.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="cover-image"/></div>
            <div class="c-flip-back"><img src="{{ 'm6.png' | asset_url }}" loading="lazy" sizes="(max-width: 2000px) 100vw, 2000px" alt="" class="cover-image"/></div>
          </div>
        </div>
        <div class="fixed-content-wrapper">
          <div class="content-scroll-wrap">
            <h2 class="heading-large">Una cucharada puede cambiar todo un plato...</h2>
          </div>
          <div class="_2-content-scroll-wrap">
            <h2 class="heading-large">...pero encontrar kimchi fresco, rico y natural no siempre es fácil.</h2>
          </div>
          <div class="_3-content-scroll-wrap">
            <h2 class="heading-large">Queemchi nace para hacer que la fermentación sea accesible, deliciosa y parte de la rutina.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

<section id="benefits" class="divider"></section>
  <section class="section gap-l">
    <div class="container gap-m">
      <div id="w-node-d26031ea-9607-551b-db47-1e2216c872f5-4901b859" class="h-wrapper">
        <div data-w-id="d26031ea-9607-551b-db47-1e2216c872f6" style="opacity:0" class="center-wrapper">
          <div class="tag-wrapper">
            <div class="bullet-icon-purple"></div>
            <div>Beneficios</div>
          </div>
          <p class="uppercase-medium">Es hora de darle más vida a tu comida.</p>
          <p class="paragraph-small min-width">Fermentamos cada lote con paciencia para lograr un kimchi fresco, balanceado y lleno de sabor. Tradición coreana, producción local y una marca pensada para quienes quieren comer mejor sin aburrirse.</p>
        </div>
      </div>
      <div class="flex-cards">
        <div class="card-wrap">
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c872fe" href="#" class="card-button w-inline-block"></a>
                <div class="w-layout-grid content-grid gap-short">
                  <div class="card-inner-header">
                    <h3 class="heading-medium">Sabor vivo. Picante, ácido, umami y crujiente.</span></h3>
                  </div>
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c87307-4901b859" class="card-inner-b"><img src="{{ 'speed.png' | asset_url }}" loading="lazy" width="Auto" data-w-id="9031e83d-9a11-d351-321b-30c16919cf57" alt="" class="speed-img"/></div>
                </div>
              </div>
              <div class="flip-content-back">
                <div id="w-node-d26031ea-9607-551b-db47-1e2216c8730a-4901b859" class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">Un acompañante versátil que transforma arroz, huevos, bowls, sopas, tacos, sándwiches o lo que tengas en la nevera</h3>
                </div>
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c8730f" href="#" class="link-block-close w-inline-block"></a>
              </div>
            </div>
          </div>
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c8732e" href="#" class="card-button w-inline-block"></a>
                <div id="w-node-d26031ea-9607-551b-db47-1e2216c8732f-4901b859" class="card-inner-bg">
                  <div>
                    <h3 class="heading-medium">Fermentación natural, sin atajos.</h3>
                  </div>
                </div>
              </div>
              <div class="flip-content-back">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87333" href="#" class="link-block-close w-inline-block"></a>
                <div class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">Probióticos naturales, ingredientes reales y procesos artesanales para alimentar tu microbiota de forma simple.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="flip-wrapper">
            <div class="inner-flip">
              <div class="flip-content-front">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87313" href="#" class="card-button w-inline-block"></a>
                <div class="w-layout-grid content-grid-tablet-reverse gap-short">
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c87315-4901b859" class="card-inner-top"><img src="{{ 'scale.png' | asset_url }}" loading="lazy" width="Auto" data-w-id="d26031ea-9607-551b-db47-1e2216c8731d" alt="" class="scale-img"/></div>
                  <div id="w-node-d26031ea-9607-551b-db47-1e2216c8731e-4901b859" class="card-inner-c">
                    <h3 class="heading-medium">Hecho para tu mesa diaria.</h3>
                  </div>
                </div>
              </div>
              <div class="flip-content-back">
                <a data-w-id="d26031ea-9607-551b-db47-1e2216c87324" href="#" class="link-block-close w-inline-block"></a>
                <div class="center-flex-wrapper-copy">
                  <h3 class="heading-regular pink">No necesitas ser experto en comida coreana. Solo abre el frasco, sirve una cucharada y dale carácter a cualquier comida.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="modules" class="divider-small"></section>
  <div class="section">
    <div class="container gap-m w-container">
      <div class="content-wrapper-page">
        <div class="tag-wrapper">
          <div class="bullet-icon-purple"></div>
          <div>Nuestro Producto</div>
        </div>
        <h3 class="heading-large">Del clásico al antojo diario. Queemchi es una base flexible para comer mejor, cocinar más rico y descubrir nuevos sabores.</span></h3>
      </div>
      <div class="gap-xs">
        <div class="w-layout-grid grid-2-col">
          <div id="w-node-ebb2eca5-8c9d-2f3d-b4ff-c97c1305216d-4901b859" class="rounded-ticker-block">
            <div data-w-id="ebb2eca5-8c9d-2f3d-b4ff-c97c1305216e" class="inner-square">
              <div class="square-rail">
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Kimchi Clásico</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Kimchi Extra Picante</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Kimchi Vegano</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Kimchi de Temporada</h3>
                </div>
              </div>
              <div class="square-rail">
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Brand Strategy</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Logodesign</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Visual Identity</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Naming</h3>
                </div>
              </div>
            </div>
          </div>
          <div id="w-node-ebb2eca5-8c9d-2f3d-b4ff-c97c13052181-4901b859" class="quote-card">
            <div class="content-wrapper-page b-padding">
              <div class="tag-wrapper">
                <div class="bullet-icon-purple"></div>
                <div>Kimchi</div>
              </div>
              <h3 class="heading-medium">Fermentados frescos para acompañar tus comidas, cuidar tu digestión y subirle el nivel al plato.</h3>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-2-col">
          <div id="w-node-ebb2eca5-8c9d-2f3d-b4ff-c97c1305218c-4901b859" class="quote-card">
            <div class="content-wrapper-page">
              <div class="tag-wrapper">
                <div class="bullet-icon-purple"></div>
                <div>Recetas & Comunidad</div>
              </div>
              <h3 class="heading-medium">Ideas simples para usar Queemchi todos los días y compartir una cultura de comida viva.</h3>
            </div>
          </div>
          <div id="w-node-e9e669a9-1f37-ea5e-8450-28dd51718128-4901b859" class="rounded-ticker-block">
            <div data-w-id="e9e669a9-1f37-ea5e-8450-28dd51718129" class="inner-square">
              <div class="square-rail">
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Bowls</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Tacos</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Sándwiches</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Arroz frito</h3>
                </div>
              </div>
              <div class="square-rail">
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Ramen</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Multipage Website</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">MVP Design</h3>
                </div>
                <div class="square-wrap">
                  <h3 class="heading-small text-white">Online Touchpoints</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div data-w-id="1d659469-59bc-c717-1be5-bf59f6916320" style="opacity:0" class="box-wrapper-h">
          <div class="w-layout-grid process-box">
            <div id="w-node-_1d659469-59bc-c717-1be5-bf59f6916322-4901b859" class="center-wrapper">
              <h2 class="heading-large">Un proceso vivo</h2>
              <p class="paragraph-small">Nuestro kimchi se prepara en lotes pequeños, se fermenta naturalmente y se prueba antes de salir. No buscamos acelerar el proceso: buscamos sabor, textura y equilibrio.</p>
            </div><img src="{{ 'MVB-Process_new.svg' | asset_url }}" loading="lazy" alt="" class="image-features process-graphic"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <section id="pricing" class="section gap-l">
    <div class="container gap-m">
      <div class="center-wrapper">
        <div class="tag-wrapper">
          <div class="bullet-icon-purple"></div>
          <div>Presentaciones</div>
        </div>
        <h2 class="heading-large ch">Kimchi para probar, repetir y compartir.<br/></h2>
      </div>
      <div class="w-layout-grid main-grid plan">
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45ab4-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Personal</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para quienes quieren empezar o sumar kimchi a pocas comidas por semana.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45ad5-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Familiar</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para compartir con todos y usarlo como acompañante diario.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
        <div id="w-node-c6213742-cde9-df4e-4d64-692014e45af6-4901b859" class="box-wrapper gap-s">
          <div class="pricing-top">
            <div>
              <h3 class="heading-medium">Jumbo</h3>
            </div>
            <div class="list-wrapper">
              <div class="list-flex">
                <div class="circle-check"><img src="{{ 'icon-check.svg' | asset_url }}" loading="lazy" alt="" class="icon-check"/></div>
                <div>Para tener siempre en la nevera.</div>
              </div>
            </div>
          </div>
          <a href="application/index.html" class="button bg-white w-inline-block">
            <div>Quiero el mio</div><img src="{{ 'cta-arrow-white.svg' | asset_url }}" loading="lazy" alt="" class="icon-arrow"/>
          </a>
        </div>
      </div>
      <div data-w-id="001c5575-5835-ef52-b127-f05e2621f5a4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.85, 0.85, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="rounded-block">
        <div class="w-layout-grid main-grid pricing-models">
          <div id="w-node-_001c5575-5835-ef52-b127-f05e2621f5a6-4901b859" class="rounded-col bg-color"></div>
          <div id="w-node-_001c5575-5835-ef52-b127-f05e2621f5be-4901b859" class="inner-card-center b-padding">
            <div class="tag-wrapper">
              <div class="bullet-icon-purple"></div>
              <div>Suscripción</div>
            </div>
            <h2 class="heading-medium">2 frascos mensuales con distintas versiones de Queemchi, Una selección de sabores para encontrar tu Queemchi favorito.<br/></h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section">
    <div data-w-id="5061e964-3661-8b23-1da4-d3f59c865efe" class="track">
      <div class="inner-track">
        <div class="fixed-content-wrapper">
          <div class="content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Queemchi me hizo entender que comer saludable no tiene que saber aburrido. Ahora se lo pongo a casi todo.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="{{ 'ma.png' | asset_url }}" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Mohamed Attia</div>
                    <div class="walsh-text-small-white">CEO at NEX Aero GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_2-content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Es fresco, crujiente y con el punto perfecto de picante. Se nota que está hecho en serio.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="{{ 'mf.png' | asset_url }}" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Marc Forstmann</div>
                    <div class="walsh-text-small-white">CEO at inside360 GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="_3-content-scroll-wrap">
            <div class="walsh-center-h-wrapper">
              <div class="walsh-cta-h-wrapper">
                <h3 class="heading-medium">&#34;Lo compré por curiosidad y terminó siendo fijo en mi nevera.&#34;</h3>
                <div class="walsh-profile-v-wrapper">
                  <div class="walsh-circle-image"><img loading="lazy" src="{{ 'fs.png' | asset_url }}" alt="" class="walsh-cover-image"/></div>
                  <div class="walsh-info-wrap-center">
                    <div class="walsh-heading-small-white">Felix Styma</div>
                    <div class="walsh-text-small-white">CEO at iconomy GmbH</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="contacto" class="section padding-side">
    <div class="spin-section over">
      <div class="half-section full">
        <div class="cta-heading-wrapper h">
          <div class="content-wrapper-page center-mobile">
            <div class="tag-wrapper">
              <div class="bullet-icon-purple"></div>
              <div>Empieza aquí</div>
            </div>
            <h2 class="heading-large">¿Listo para darle vida a tu comida? <br/></h2>
            <div class="div-block-2">
              <a href="mailto:mvb@madeful.de" class="button black w-inline-block">
                <div>Haz tu pedido</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="spin-wrapper-side inner">
        <div data-w-id="83c61644-4355-7f20-b0e7-39df7f7b555d" class="main-spin">
          <div c
          
          
          
          
          
          
          
          
          
          data-w-id="83c61644-4355-7f20-b0e7-39df7f7b555f" class="spin-icon"><img src="{{ 'Group-49.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate rotate-45"/></div>
            <div class="spin-icon"><img src="{{ 'Group-51.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate"/></div>
          </div>
          <div class="s-row _90">
            <div class="spin-icon"><img src="{{ 'Group-48.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate r45"/></div>
            <div class="spin-icon"><img src="{{ 'Group-47.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate rotate-45"/></div>
          </div>
          <div class="s-row">
            <div class="spin-icon"><img src="{{ 'Group-44.png' | asset_url }}" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
            <div class="spin-icon"><img src="{{ 'Group-45.png' | asset_url }}" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
          </div>
          <div class="s-row-h">
            <div class="spin-icon"><img src="{{ 'Group-42.png' | asset_url }}" loading="lazy" sizes="(max-width: 1600px) 100vw, 1600px" alt="" class="img-logo-rotate"/></div>
            <div class="spin-icon"><img src="{{ 'Group-50.png' | asset_url }}" loading="lazy" sizes="(max-width: 1585px) 100vw, 1585px" alt="" class="img-logo-rotate"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section id="faq" class="divider"></section>
  <section class="section gap-l">
    <div class="container gap-m">
      <p data-w-id="46353018-90c9-5f8b-58c7-0186d60da2ca" style="opacity:0;-webkit-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 1em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="uppercase-regular">Preguntas frecuentes</p>
      <div class="faq-wrapper">
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Qué es el kimchi?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">If you&#39;re in the early stages of your startup or planning to launch a new product or service, a Minimum Viable Brand (MVB) is your go-to strategy. The MVB serves as the cornerstone of your brand&#39;s identity, used for pitching to investors, marketing your business, and cultivating a strong customer base.</p></p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Cómo se come Queemchi?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Directo del frasco como acompañante, sobre arroz, con huevos, en bowls, sopas, tacos, hamburguesas, sándwiches o salteados.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Tiene probióticos?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Sí. Al estar fermentado naturalmente, QUEEMCHI contiene cultivos vivos propios del proceso de fermentación.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Es muy picante?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Tiene picante, pero buscamos equilibrio. También puedes manejar varias versiones: clásico, suave o extra picante.</p>
          </div>
        </div>
        <div class="faq-content">
          <a href="#" class="faq-link-block w-inline-block">
            <div class="heading-regular">¿Cómo debo conservarlo?</div>
            <div class="close-button"></div>
          </a>
          <div class="faq-inner">
            <p class="main-paragraph-w">Refrigerado. Como es un alimento vivo, seguirá fermentando lentamente con el tiempo y su sabor se volverá más ácido.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="section">
  <div class="footer-wrapper">
    <div class="container footer w-container">
      <div class="w-layout-grid grid-footer">
        <div id="w-node-ed793652-6d24-afcd-8e11-3364d5be0bd6-07bf8e43"><img src="{{ 'logo-mvb.svg' | asset_url }}" loading="lazy" alt="" class="footer-logo"/></div>
        <div id="w-node-_4f85948e-80ee-c352-6ea1-fe12f4e5d894-07bf8e43" class="footer-wrapper-links">
          <a href="https://www.madeful.de/" target="_blank" class="link-footer small">Agency Website</a>
          <a href="https://www.madeful.de/imprint" target="_blank" class="link-footer small">Imprint</a>
          <a href="https://www.madeful.de/privacy" target="_blank" class="link-footer small">Privacy</a>
          <a href="{{ 'AGB-MADEFUL-01-02-2024.pdf' | asset_url }}" target="_blank" class="link-footer small">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>

</div>
{% schema %}
{
  "name": "Queemchi Astro home",
  "tag": "section",
  "class": "section-queemchi-astro-home",
  "settings": [],
  "presets": [
    {
      "name": "Queemchi Astro home"
    }
  ]
}
{% endschema %}